/* text element changes */
p {
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
h2 {
    font-family: sans-serif;
    text-align: center;
}
h3 {
    font-family: sans-serif;
    text-align: center;
}
h3 {
    font-family: sans-serif;
    text-align: center;
}
h4 {
    font-family: sans-serif;
    text-align: center;
}
h5 {
    font-family: sans-serif;
    text-align: center;
}
h6 {
    font-family: sans-serif;
    text-align: center;
}
li {
    font-family: sans-serif;
    text-align: center;
}
/* IMG Rules */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* navagation */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    text-align: center;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li {
    border-left: 5px solid black;
    background-color: lightgray;
}
/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
/* link color */
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: #000080;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}